<%= form_for @user, url: signin_path do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Login" %>
<% end %>
